---
import Layout from '../layouts/Layout.astro';
import { ViewTransitions } from 'astro:transitions';
---

<Layout title="Welcome to Astro.">
	<main>
		<input type="text" id="convert-input" placeholder="https://www.youtube.com/watch?v=________ link" class="px-4 py-2 border rounded-md w-64"><button id="convert" class="px-4 py-2 bg-red-500 text-white rounded-md ml-2">convert</button>
  	<p class="text-xs"> You can currently use a Youtube URL or Youtube Share link</p>
  	<h2 id="results-container" class="text-xl"></h2>
  	<span id="output"></span>
		<br />
  	<h1 class="text-lg">Embed example:</h1>
  	<iframe class="w-1/2 aspect-video mx-auto rounded-2xl" id="iframe-output" transition:name="iframe"></iframe>
		<br />
  	<h1 class="text-lg">Embed example code:</h1>
  	<code id="iframe-code"></code>
	</main>
</Layout>
