---
import { ViewTransitions } from 'astro:transitions';
---
<html lang="en" class="bg-cyan-900 text-center">
  <head>
    <ViewTransitions />
  </head>
  <body>
    <h1 class="text-2xl">to start, please put one of these <br /> link    formats into the input box above:</h1>
    <li class="text-xl">Youtube URL: <br /> https://youtube.com/watch?  v=_____</li>
    <li class="text-xl">Youtube Share: <br /> https://youtu.be/ _________?si=_____</li>
    <script>
      if (window.top !== window.self) {
      } else {
        window.location.href = "/";
      }
    </script>
  </body>
</html>