---
interface Props {
	title: string;
}

import { ViewTransitions } from 'astro:transitions';
// import { AstroCookies } from 'astro';

// // cookie handling
// let cookie: AstroCookies
// let cookie_jar_show: boolean = true
// let jar: boolean = false

// if (Astro.cookies.has("jar")) {
// 	cookie_jar_show = false
// 	cookie = Astro.cookies.get("jar")
// 	if (String(cookie) != "true") {
// 		jar = true
// 	}
// 	else {
// 		jar = false
// 	}
// }
// else {
// 	console.log("no cookie")
// 	cookie_jar_show = true
// }

// pass title through as an astro prop
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-red-900 text-center">
	<head>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Youtube to youtube nocookie</title>
		<script src="../scripts/script.js"></script>
		<link href="/favicon.svg" rel="icon" type="image/x-icon">
		<ViewTransitions />
	</head>
	<body>
		<div class="m-5 min-h-screen">
			<slot />
		</div>
		<!-- <div id="cookie_jar" class="invisible bottom-0 sticky bg-slate-500">Altie's Cookie Jar<br />We use cookies to enhance your experience on our website. By clicking "Accept," you consent to the use of cookies. Alternatively, you may choose to decline the use of cookies.<br /><div class="basis-1/3"></div><div class="basis-1/3"><button class=" btn btn-success btn-sm" id="accept">Accept</button><button class="btn btn-error btn-sm" id="decline">decline</button></div><div class="basis-1/3"></div></div> -->
	</body>
</html>
<!-- <script>
	const cookie_jar: HTMLElement = document.getElementById('cookie_jar')!;
	if (cookie_jar_show == true) {}
	cookie_jar.className = 'visible bottom-0 sticky bg-slate-500';
</script> -->