---
interface Props {
}
---

<!doctype html>
<html lang="en" class="bg-red-900 text-center">
	<head>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Youtube to youtube nocookie</title>
		<script src="../scripts/script.js"></script>
		<link href="/favicon.svg" rel="icon" type="image/x-icon">
	</head>
	<body>
		<div class="m-5">
			<slot />
		</div>
		<!-- <div id="cookie_jar" class="invisible bottom-0 sticky bg-slate-500" data-show=false>Altie's Cookie Jar<br />We use cookies to enhance your experience on our website. By clicking "Accept," you consent to the use of cookies. Alternatively, you may choose to decline the use of cookies.<br /><div class="basis-1/3"></div><div class="basis-1/3"><button class=" btn btn-success btn-sm" id="accept">Accept</button><button class="btn btn-error btn-sm" id="decline">decline</button></div><div class="basis-1/3"></div></div> -->
	</body>
</html>
<!-- <script>
	let jar_show: boolean = true
	const jar_cookies = document.cookie;
	let jar: boolean = false
	console.log(jar_cookies)
	function getCookie(cname) {
  	let name = cname + "=";
  	let ca = document.cookie.split(';');
  	for(let i = 0; i < ca.length; i++) {
  	  let c = ca[i];
  	  while (c.charAt(0) == ' ') {
  	    c = c.substring(1);
  	  }
  	  if (c.indexOf(name) == 0) {
  	    return c.substring(name.length, c.length);
  	  }
  	}
  	return "";
	}
</script> -->